@import url('http://fonts.cdnfonts.com/css/neue-power');


*{
    font-family: 'Neue Power', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    /* border: 1px solid rgb(255, 242, 0); */
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 10px;
    
}



#title-text{
    /* border: 1px solid black; */
   
    
}

#title-text a {
    color: black;
    text-decoration: none;
}

#top-menu{
    /* border: 1px solid black; */
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

#top-menu li a{
    /* border: 1px solid black; */
    text-decoration: none;
    margin-right: 50px;
    color: black;

}

#top-menu li a:hover{
    color: rgb(30, 210, 75);
    font-weight: bold;

}

#about-us{
    /* border: 1px solid black; */
    position: relative;
}

#about-us:hover{
    
    font-weight: bold;
}



#about-us-list {
    /* border: 1px solid black; */
    border-radius: 10px;
    display: none ;
    list-style: none;
    position: absolute;
    background-color:rgba(128, 128, 128, 0.107);
    width: 100px;

    
}

#about-us-list li{
    margin-top: 30px;
}

#about-us-list li a:hover{
    color: chocolate;
    
}



#about-us:hover ul{
    
    display: block;
}

.carousel-inner{
    /* border: 5px solid rgb(114, 4, 4); */
    width: 100%;
}

.carousel-item{
    text-align: center;
}

#carouselExampleSlidesOnly{
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
}

#new-items{
    margin-top: 20px;
    /* border: 1px solid black; */
    text-align: center;
}

#product-space{
    margin-top: 50px;
    
    text-align: center;
    /* border: 5px solid black; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

#meet{
    /* border: 1px solid black; */
    text-align: center;
}

#team-window{
    /* border: 1px solid rgba(201, 0, 0, 0.747); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team-window  img{
    height: 300px;
}

.member-info{
   text-align: center;
}

#mission{
    /* border: 5px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#statement{
    /* border: 1px solid black; */
    width: 50%;
    text-align: center;

}

#item{
    border: 1px  black;
}

#item-photo{
    width: 200px;
}

#title-laminate{
    margin-top: 50px;
    text-align: center;
}

#lam-btn{
    /* color:red; */
    /* background-color: rgb(194, 194, 219); */
    /* border-radius: 30px; */
}

  
    
